@import "tailwindcss";

:root {
  --background-header: #013A63;
  --text-color: #001F3F;
  --button: #00A6FB;
  --background: var(--color-yellow-100);
  --alert: #FF6F00;
  --critical-alert: #D32F2F;
}

:focus {
  outline: transparent;
  box-shadow: 0 0 0 2px var(--green-500);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background:  var(--background);
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
}

body, input, textarea, button {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}